---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% for category in site.categories %}
    <h2 class="post-list-heading">{{ category[0] | default: "-" }}</h2>
    <ul class="post-list">
    {% for post in category[1] %}
      <li>        
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
    {% endfor %}
    <br>
  {% endfor %}

  <h2 class="post-list-heading">Assets</h2>
  <h3>
    <a class="post-link" href="assets/resources/index.html">
      Resources
    </a>
  </h3>

</div>
